<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Calculator</title>
  </head>
  <body>
    <h2>Calculator</h2>
    <h3>The result is <%= result %></h3>
  </body>
</html>
