<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Express Intro</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>Hello World from EJS</h1>
    <p>Random brother: <%= randomBrother %></p>
    <p></p>
  </body>
</html>
