<h2>Assets Helpers</h2>

<!-- <img src="http://www.fillmurray.com/300/301" alt="Bill Murray"> -->

<%= image_tag "http://www.fillmurray.com/300/301" %>

<!-- <img src="/assets/smoking.jpg" alt="Kids lighting up"> -->

<%= image_tag "smoking.jpg", :alt => "Kids lighting up" %>

<p>There are also: video_tag, audio_tag</p>
