<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('partials/head.ejs'); %>
  <body>
    <%- include('partials/nav.ejs'); %>

    <p>
      <%= symbol %> last traded at $<%= quotes[0].lastSalePrice %>
    </p>

  </body>
</html>
