<h2>Search for a book cover</h2>

<form action="/books/result">
  <label>
    Book title:
    <input type="search" name="book_title" required placeholder="Jaws">
  </label>
  <button>Search</button>
</form>
