/* Pesticide plugin is a browser extension to automatically add this line of code: */
/* * { border: 1px solid green; } */

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body {
  background-color: #222; /* means the same as #222222 */
  padding: 0;
  margin: 0;
}

.container {
  max-width: 960px; /* Lazy responsive container */
  background-color: #ccc; /* means the same as #cccccc */
  margin: auto; /* Horizontal centering */
  padding: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

nav {
  text-align: right;
}

nav a {
  color: green;
}

h1 {
  text-align: center;
  background-color: #222;
  color: #ccc;
  padding: 1em;
  font-family: 'Muli', sans-serif;
}

main {
  display: inline-block;
  width: 75%;
}

main img {
  display: block;
  margin: auto;
}

aside {
  display: inline-block;
  width: 21%; /* In CSS: 75% + 21% = 100% */
  vertical-align: top;
  background-color: #cfc;
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: 0 0 15px #222; /* Now it pops */
}

ul {
  padding-left: 17px;
}
