<div class="row">
  <div class="col-md-4">
  </div>

  <div class="col-md-4">
    <h1>WELCOME TO TUNR</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <h2>Trump eaten by bears</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, necessitatibus ut, laboriosam quis iure voluptas eaque cumque natus. Natus, dignissimos, temporibus? Maiores assumenda quis eveniet quo animi ut modi molestiae!</p>
  </div>

  <div class="col-md-6">
    <h2>Royal family actually lizard people</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam molestiae obcaecati sint quae tempore dolor vel minus ratione error rem. Dolorum rem debitis excepturi unde quod, laborum ratione commodi repellendus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi facere, praesentium esse adipisci eaque soluta eveniet libero, porro itaque distinctio molestias atque rem voluptates? Atque est optio, labore vel quam.</p>
  </div>

  <div class="col-md-3">
    <h2>Moon landing faked</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dolorem similique repellendus quod ullam magnam ipsum eius ratione temporibus possimus aliquam sequi praesentium cupiditate fugiat voluptate, ea, qui, nam libero.</p>
  </div>
</div>
