body {
  background-color: lightgreen;
  min-height: 99999px;
}

.box {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  text-align: center;
  line-height: 300px; /* Cheap and nasty way to do vertical centering */
}

.static {
  position: static;
}

.absolute {
  position: absolute;
  top: 300px;
  right: 200px;
  background-color: red;
}

.fixed {
  position: fixed;
  top: 300px;
  right: 200px;
}

.relative {
  position: relative;
  width: 900px;
  height: 900px;
  line-height: 900px;
}

.smallbox {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  position: absolute;
}

.red {
  background-color: red;
  top: 275px;
  right: 175px;
}

.green {
  background-color: green;
  top: 300px;
  right: 200px;
  z-index: 10;
}

.blue {
  background-color: blue;
  top: 325px;
  right: 225px;
}
