<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Crapyy Calculator</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/faq">FAQ</a>
  </nav>

  <%= yield %>

</body>
</html>
