<h1>My Cool Blog About My Feelings</h1>

<div class="post">
  <h2>First Post</h2>
  <h3 class="author">Some Guy</h3>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, neque! Exercitationem doloremque illo, distinctio aliquid ipsum quibusdam in. Cumque porro architecto eveniet, tenetur vel excepturi saepe aliquam non unde minima?</p>
    <p>Adipisci quis mollitia laboriosam rerum, vel quibusdam nobis! Commodi neque iusto accusantium, omnis nihil nemo nulla quos similique laborum quis vel nobis ratione voluptatem, illo corporis ducimus. Quo, quaerat, nemo!</p>
  </div>
</div>

<div class="post">
  <h2>Second Post</h2>
  <h3 class="author">Some Guy</h3>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, neque! Exercitationem doloremque illo, distinctio aliquid ipsum quibusdam in. Cumque porro architecto eveniet, tenetur vel excepturi saepe aliquam non unde minima?</p>
    <p>Adipisci quis mollitia laboriosam rerum, vel quibusdam nobis! Commodi neque iusto accusantium, omnis nihil nemo nulla quos similique laborum quis vel nobis ratione voluptatem, illo corporis ducimus. Quo, quaerat, nemo!</p>
  </div>
</div>

<div class="post">
  <h2>Third Post</h2>
  <h3 class="author">Some Guy</h3>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, neque! Exercitationem doloremque illo, distinctio aliquid ipsum quibusdam in. Cumque porro architecto eveniet, tenetur vel excepturi saepe aliquam non unde minima?</p>
    <p>Adipisci quis mollitia laboriosam rerum, vel quibusdam nobis! Commodi neque iusto accusantium, omnis nihil nemo nulla quos similique laborum quis vel nobis ratione voluptatem, illo corporis ducimus. Quo, quaerat, nemo!</p>
  </div>
</div>

<div class="post">
  <h2>Fourth Post</h2>
  <h3 class="author">Some Guy</h3>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, neque! Exercitationem doloremque illo, distinctio aliquid ipsum quibusdam in. Cumque porro architecto eveniet, tenetur vel excepturi saepe aliquam non unde minima?</p>
    <p>Adipisci quis mollitia laboriosam rerum, vel quibusdam nobis! Commodi neque iusto accusantium, omnis nihil nemo nulla quos similique laborum quis vel nobis ratione voluptatem, illo corporis ducimus. Quo, quaerat, nemo!</p>
  </div>
</div>

<hr>

<div class="notification">
  This is a notificiation
</div>

<div class="error">
  There was error
</div>

<div class="success">
  There was success
</div>
