<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CSS Layout Example</title>
    <link rel="stylesheet" href="css/site.css">
  </head>

  <body>

    <div class="container">

      <header>
        <nav>
          <a href="#">Home</a>
          <a href="#">About</a>
          <a href="#">FAQ</a>
          <a href="#">Contact</a>
        </nav>

        <h1>TITLE</h1>
      </header>

      <main>
        <h2>Content Goes Here</h2>
        <img src="http://www.fillmurray.com/400/600" alt="Bill Murray looking handsome">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt aliquid, facilis ut soluta alias magnam officiis eaque quia maxime quis iure at nihil et veritatis rerum suscipit quam expedita! Incidunt.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut fuga quaerat iste dolores, soluta nobis cupiditate ipsa harum ratione corporis quia rem odio illum, nesciunt ipsam, quas est minus, quos?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat a commodi repudiandae temporibus soluta possimus dignissimos sit numquam, ut vel, asperiores. Illum libero assumenda saepe recusandae repellendus, quos et at!</p>
      </main>

      <aside>
        <h3>Fun Facts</h3>
        <ul>
          <li>Groucho</li>
          <li>Harpo</li>
          <li>Chico</li>
          <li>Zeppo</li>
        </ul>
      </aside>

    </div>

  </body>
</html>
