<h2>Look up a stock price</h2>
<form action="/stocks/result">
  <label>
    Stock symbol:
    <input type="search" name="stock_symbol" required placeholder="AAPL">
  </label>
  <button>Get price</button>
</form>
